.Day-1{left:0px;}
.Day-2{left:41px;}
.Day-3{left:82px;}
.Day-4{left:123px;}
.Day-5{left:164px;}
.Day-6{left:205px;}
.Day-7{left:246px;}
.Day-8{left:287px;}
.Day-9{left:328px;}
.Day-10{left:369px;}
.Day-11{left:410px;}
.Day-12{left:451px;}
.Day-13{left:492px;}
.Day-14{left:533px;}
.Day-15{left:574px;}
.Day-16{left:615px;}
.Day-17{left:656px;}
.Day-18{left:697px;}
.Day-19{left:738px;}
.Day-20{left:779px;}
.Day-21{left:820px;}
.Day-22{left:861px;}
.Day-23{left:902px;}
.Day-24{left:943px;}
.Day-25{left:984px;}
.Day-26{left:1025px;}
.Day-27{left:1066px;}
.Day-28{left:1107px;}
.Day-29{left:1148px;}
.Day-30{left:1189px;}
.Day-31{left:1230px;}
.Day-32{left:1271px;}
.Day-33{left:1312px;}
.Day-34{left:1353px;}
.Day-35{left:1394px;}
.Day-36{left:1435px;}
.Day-37{left:1476px;}
.Day-38{left:1517px;}
.Day-39{left:1558px;}
.Day-40{left:1599px;}
.Day-41{left:1640px;}
.Day-42{left:1681px;}
.Day-43{left:1722px;}
.Day-44{left:1763px;}
.Day-45{left:1804px;}
.Day-46{left:1845px;}
.Day-47{left:1886px;}
.Day-48{left:1927px;}
.Day-49{left:1968px;}
.Day-50{left:2009px;}
.Day-51{left:2050px;}
.Day-52{left:2091px;}
.Day-53{left:2132px;}
.Day-54{left:2173px;}
.Day-55{left:2214px;}
.Day-56{left:2255px;}
.Day-57{left:2296px;}
.Day-58{left:2337px;}
.Day-59{left:2378px;}
.Day-60{left:2419px;}
.Day-61{left:2460px;}
.Day-62{left:2501px;}
.Day-63{left:2542px;}
.Day-64{left:2583px;}
.Day-65{left:2624px;}
.Day-66{left:2665px;}
.Day-67{left:2706px;}
.Day-68{left:2747px;}
.Day-69{left:2788px;}
.Day-70{left:2829px;}
.Day-71{left:2870px;}
.Day-72{left:2911px;}
.Day-73{left:2952px;}
.Day-74{left:2993px;}
.Day-75{left:3034px;}
.Day-76{left:3075px;}
.Day-77{left:3116px;}
.Day-78{left:3157px;}
.Day-79{left:3198px;}
.Day-80{left:3239px;}
.Day-81{left:3280px;}
.Day-82{left:3321px;}
.Day-83{left:3362px;}
.Day-84{left:3403px;}
.Day-85{left:3444px;}
.Day-86{left:3485px;}
.Day-87{left:3526px;}
.Day-88{left:3567px;}
.Day-89{left:3608px;}
.Day-90{left:3649px;}
.Day-91{left:3690px;}
.Day-92{left:3731px;}
.Day-93{left:3772px;}
.Day-94{left:3813px;}
.Day-95{left:3854px;}
.Day-96{left:3895px;}
.Day-97{left:3936px;}
.Day-98{left:3977px;}
.Day-99{left:4018px;}
.Day-100{left:4059px;}
.Day-101{left:4100px;}
.Day-102{left:4141px;}
.Day-103{left:4182px;}
.Day-104{left:4223px;}
.Day-105{left:4264px;}
.Day-106{left:4305px;}
.Day-107{left:4346px;}
.Day-108{left:4387px;}
.Day-109{left:4428px;}
.Day-110{left:4469px;}
.Day-111{left:4510px;}
.Day-112{left:4551px;}
.Day-113{left:4592px;}
.Day-114{left:4633px;}
.Day-115{left:4674px;}
.Day-116{left:4715px;}
.Day-117{left:4756px;}
.Day-118{left:4797px;}
.Day-119{left:4838px;}
.Day-120{left:4879px;}
.Day-121{left:4920px;}
.Day-122{left:4961px;}
.Day-123{left:5002px;}
.Day-124{left:5043px;}
.Day-125{left:5084px;}
.Day-126{left:5125px;}
.Day-127{left:5166px;}
.Day-128{left:5207px;}
.Day-129{left:5248px;}
.Day-130{left:5289px;}
.Day-131{left:5330px;}
.Day-132{left:5371px;}
.Day-133{left:5412px;}
.Day-134{left:5453px;}
.Day-135{left:5494px;}
.Day-136{left:5535px;}
.Day-137{left:5576px;}
.Day-138{left:5617px;}
.Day-139{left:5658px;}
.Day-140{left:5699px;}
.Day-141{left:5740px;}
.Day-142{left:5781px;}
.Day-143{left:5822px;}
.Day-144{left:5863px;}
.Day-145{left:5904px;}
.Day-146{left:5945px;}
.Day-147{left:5986px;}
.Day-148{left:6027px;}
.Day-149{left:6068px;}
.Day-150{left:6109px;}
.Day-151{left:6150px;}
.Day-152{left:6191px;}
.Day-153{left:6232px;}
.Day-154{left:6273px;}
.Day-155{left:6314px;}
.Day-156{left:6355px;}
.Day-157{left:6396px;}
.Day-158{left:6437px;}
.Day-159{left:6478px;}
.Day-160{left:6519px;}
.Day-161{left:6560px;}
.Day-162{left:6601px;}
.Day-163{left:6642px;}
.Day-164{left:6683px;}
.Day-165{left:6724px;}
.Day-166{left:6765px;}
.Day-167{left:6806px;}
.Day-168{left:6847px;}
.Day-169{left:6888px;}
.Day-170{left:6929px;}
.Day-171{left:6970px;}
.Day-172{left:7011px;}
.Day-173{left:7052px;}
.Day-174{left:7093px;}
.Day-175{left:7134px;}
.Day-176{left:7175px;}
.Day-177{left:7216px;}
.Day-178{left:7257px;}
.Day-179{left:7298px;}
.Day-180{left:7339px;}
.Day-181{left:7380px;}
.Day-182{left:7421px;}
.Day-183{left:7462px;}
.Day-184{left:7503px;}
.Day-185{left:7544px;}
.Day-186{left:7585px;}
.Day-187{left:7626px;}
.Day-188{left:7667px;}
.Day-189{left:7708px;}
.Day-190{left:7749px;}
.Day-191{left:7790px;}
.Day-192{left:7831px;}
.Day-193{left:7872px;}
.Day-194{left:7913px;}
.Day-195{left:7954px;}
.Day-196{left:7995px;}
.Day-197{left:8036px;}
.Day-198{left:8077px;}
.Day-199{left:8118px;}
.Day-200{left:8159px;}
.Day-201{left:8200px;}
.Day-202{left:8241px;}
.Day-203{left:8282px;}
.Day-204{left:8323px;}
.Day-205{left:8364px;}
.Day-206{left:8405px;}
.Day-207{left:8446px;}
.Day-208{left:8487px;}
.Day-209{left:8528px;}
.Day-210{left:8569px;}
.Day-211{left:8610px;}
.Day-212{left:8651px;}
.Day-213{left:8692px;}
.Day-214{left:8733px;}
.Day-215{left:8774px;}
.Day-216{left:8815px;}
.Day-217{left:8856px;}
.Day-218{left:8897px;}
.Day-219{left:8938px;}
.Day-220{left:8979px;}
.Day-221{left:9020px;}
.Day-222{left:9061px;}
.Day-223{left:9102px;}
.Day-224{left:9143px;}
.Day-225{left:9184px;}
.Day-226{left:9225px;}
.Day-227{left:9266px;}
.Day-228{left:9307px;}
.Day-229{left:9348px;}
.Day-230{left:9389px;}
.Day-231{left:9430px;}
.Day-232{left:9471px;}
.Day-233{left:9512px;}
.Day-234{left:9553px;}
.Day-235{left:9594px;}
.Day-236{left:9635px;}
.Day-237{left:9676px;}
.Day-238{left:9717px;}
.Day-239{left:9758px;}
.Day-240{left:9799px;}
.Day-241{left:9840px;}
.Day-242{left:9881px;}
.Day-243{left:9922px;}
.Day-244{left:9963px;}
.Day-245{left:10004px;}
.Day-246{left:10045px;}
.Day-247{left:10086px;}
.Day-248{left:10127px;}
.Day-249{left:10168px;}
.Day-250{left:10209px;}
.Day-251{left:10250px;}
.Day-252{left:10291px;}
.Day-253{left:10332px;}
.Day-254{left:10373px;}
.Day-255{left:10414px;}
.Day-256{left:10455px;}
.Day-257{left:10496px;}
.Day-258{left:10537px;}
.Day-259{left:10578px;}
.Day-260{left:10619px;}
.Day-261{left:10660px;}
.Day-262{left:10701px;}
.Day-263{left:10742px;}
.Day-264{left:10783px;}
.Day-265{left:10824px;}
.Day-266{left:10865px;}
.Day-267{left:10906px;}
.Day-268{left:10947px;}
.Day-269{left:10988px;}
.Day-270{left:11029px;}
.Day-271{left:11070px;}
.Day-272{left:11111px;}
.Day-273{left:11152px;}
.Day-274{left:11193px;}
.Day-275{left:11234px;}
.Day-276{left:11275px;}
.Day-277{left:11316px;}
.Day-278{left:11357px;}
.Day-279{left:11398px;}
.Day-280{left:11439px;}
.Day-281{left:11480px;}
.Day-282{left:11521px;}
.Day-283{left:11562px;}
.Day-284{left:11603px;}
.Day-285{left:11644px;}
.Day-286{left:11685px;}
.Day-287{left:11726px;}
.Day-288{left:11767px;}
.Day-289{left:11808px;}
.Day-290{left:11849px;}
.Day-291{left:11890px;}
.Day-292{left:11931px;}
.Day-293{left:11972px;}
.Day-294{left:12013px;}
.Day-295{left:12054px;}
.Day-296{left:12095px;}
.Day-297{left:12136px;}
.Day-298{left:12177px;}
.Day-299{left:12218px;}
.Day-300{left:12259px;}

.White.Duration-1 > div {width: 29px;}
.White.Duration-2 > div {width: 70px;}
.White.Duration-3 > div {width: 111px;}
.White.Duration-4 > div {width: 152px;}
.White.Duration-5 > div {width: 193px;}
.White.Duration-6 > div {width: 234px;}
.White.Duration-7 > div {width: 275px;}
.White.Duration-8 > div {width: 316px;}
.White.Duration-9 > div {width: 357px;}
.White.Duration-10 > div {width: 398px;}
.White.Duration-11 > div {width: 439px;}
.White.Duration-12 > div {width: 480px;}
.White.Duration-13 > div {width: 521px;}
.White.Duration-14 > div {width: 562px;}
.White.Duration-15 > div {width: 603px;}
.White.Duration-16 > div {width: 644px;}
.White.Duration-17 > div {width: 685px;}
.White.Duration-18 > div {width: 726px;}
.White.Duration-19 > div {width: 767px;}
.White.Duration-20 > div {width: 808px;}
.White.Duration-21 > div {width: 849px;}
.White.Duration-22 > div {width: 890px;}
.White.Duration-23 > div {width: 931px;}
.White.Duration-24 > div {width: 972px;}
.White.Duration-25 > div {width: 1013px;}
.White.Duration-26 > div {width: 1054px;}
.White.Duration-27 > div {width: 1095px;}
.White.Duration-28 > div {width: 1136px;}
.White.Duration-29 > div {width: 1177px;}
.White.Duration-30 > div {width: 1218px;}



.Duration-1 > div {width: 10px;}
.Duration-2 > div {width: 51px;}
.Duration-3 > div {width: 92px;}
.Duration-4 > div {width: 133px;}
.Duration-5 > div {width: 174px;}
.Duration-6 > div {width: 215px;}
.Duration-7 > div {width: 256px;}
.Duration-8 > div {width: 297px;}
.Duration-9 > div {width: 338px;}
.Duration-10 > div {width: 379px;}
.Duration-11 > div {width: 420px;}
.Duration-12 > div {width: 461px;}
.Duration-13 > div {width: 502px;}
.Duration-14 > div {width: 543px;}
.Duration-15 > div {width: 584px;}
.Duration-16 > div {width: 625px;}
.Duration-17 > div {width: 666px;}
.Duration-18 > div {width: 707px;}
.Duration-19 > div {width: 748px;}
.Duration-20 > div {width: 789px;}
.Duration-21 > div {width: 830px;}
.Duration-22 > div {width: 871px;}
.Duration-23 > div {width: 912px;}
.Duration-24 > div {width: 953px;}
.Duration-25 > div {width: 994px;}
.Duration-26 > div {width: 1035px;}
.Duration-27 > div {width: 1076px;}
.Duration-28 > div {width: 1117px;}
.Duration-29 > div {width: 1158px;}
.Duration-30 > div {width: 1199px;}
.Duration-31 > div {width: 1240px;}
.Duration-32 > div {width: 1281px;}
.Duration-33 > div {width: 1322px;}
.Duration-34 > div {width: 1363px;}
.Duration-35 > div {width: 1404px;}
.Duration-36 > div {width: 1445px;}
.Duration-37 > div {width: 1486px;}
.Duration-38 > div {width: 1527px;}
.Duration-39 > div {width: 1568px;}
.Duration-40 > div {width: 1609px;}
.Duration-41 > div {width: 1650px;}
.Duration-42 > div {width: 1691px;}
.Duration-43 > div {width: 1732px;}
.Duration-44 > div {width: 1773px;}
.Duration-45 > div {width: 1814px;}
.Duration-46 > div {width: 1855px;}
.Duration-47 > div {width: 1896px;}
.Duration-48 > div {width: 1937px;}
.Duration-49 > div {width: 1978px;}
.Duration-50 > div {width: 2019px;}
.Duration-51 > div {width: 2060px;}
.Duration-52 > div {width: 2101px;}
.Duration-53 > div {width: 2142px;}
.Duration-54 > div {width: 2183px;}
.Duration-55 > div {width: 2224px;}
.Duration-56 > div {width: 2265px;}
.Duration-57 > div {width: 2306px;}
.Duration-58 > div {width: 2347px;}
.Duration-59 > div {width: 2388px;}
.Duration-60 > div {width: 2429px;}
.Duration-61 > div {width: 2470px;}
.Duration-62 > div {width: 2511px;}
.Duration-63 > div {width: 2552px;}
.Duration-64 > div {width: 2593px;}
.Duration-65 > div {width: 2634px;}
.Duration-66 > div {width: 2675px;}
.Duration-67 > div {width: 2716px;}
.Duration-68 > div {width: 2757px;}
.Duration-69 > div {width: 2798px;}
.Duration-70 > div {width: 2839px;}
.Duration-71 > div {width: 2880px;}
.Duration-72 > div {width: 2921px;}
.Duration-73 > div {width: 2962px;}
.Duration-74 > div {width: 3003px;}
.Duration-75 > div {width: 3044px;}
.Duration-76 > div {width: 3085px;}
.Duration-77 > div {width: 3126px;}
.Duration-78 > div {width: 3167px;}
.Duration-79 > div {width: 3208px;}
.Duration-80 > div {width: 3249px;}
.Duration-81 > div {width: 3290px;}
.Duration-82 > div {width: 3331px;}
.Duration-83 > div {width: 3372px;}
.Duration-84 > div {width: 3413px;}
.Duration-85 > div {width: 3454px;}
.Duration-86 > div {width: 3495px;}
.Duration-87 > div {width: 3536px;}
.Duration-88 > div {width: 3577px;}
.Duration-89 > div {width: 3618px;}
.Duration-90 > div {width: 3659px;}
.Duration-91 > div {width: 3700px;}
.Duration-92 > div {width: 3741px;}
.Duration-93 > div {width: 3782px;}
.Duration-94 > div {width: 3823px;}
.Duration-95 > div {width: 3864px;}
.Duration-96 > div {width: 3905px;}
.Duration-97 > div {width: 3946px;}
.Duration-98 > div {width: 3987px;}
.Duration-99 > div {width: 4028px;}
.Duration-100 > div {width: 4069px;}
.Duration-101 > div {width: 4110px;}
.Duration-102 > div {width: 4151px;}
.Duration-103 > div {width: 4192px;}
.Duration-104 > div {width: 4233px;}
.Duration-105 > div {width: 4274px;}
.Duration-106 > div {width: 4315px;}
.Duration-107 > div {width: 4356px;}
.Duration-108 > div {width: 4397px;}
.Duration-109 > div {width: 4438px;}
.Duration-110 > div {width: 4479px;}
.Duration-111 > div {width: 4520px;}
.Duration-112 > div {width: 4561px;}
.Duration-113 > div {width: 4602px;}
.Duration-114 > div {width: 4643px;}
.Duration-115 > div {width: 4684px;}
.Duration-116 > div {width: 4725px;}
.Duration-117 > div {width: 4766px;}
.Duration-118 > div {width: 4807px;}
.Duration-119 > div {width: 4848px;}
.Duration-120 > div {width: 4889px;}
.Duration-121 > div {width: 4930px;}
.Duration-122 > div {width: 4971px;}
.Duration-123 > div {width: 5012px;}
.Duration-124 > div {width: 5053px;}
.Duration-125 > div {width: 5094px;}
.Duration-126 > div {width: 5135px;}
.Duration-127 > div {width: 5176px;}
.Duration-128 > div {width: 5217px;}
.Duration-129 > div {width: 5258px;}
.Duration-130 > div {width: 5299px;}
.Duration-131 > div {width: 5340px;}
.Duration-132 > div {width: 5381px;}
.Duration-133 > div {width: 5422px;}
.Duration-134 > div {width: 5463px;}
.Duration-135 > div {width: 5504px;}
.Duration-136 > div {width: 5545px;}
.Duration-137 > div {width: 5586px;}
.Duration-138 > div {width: 5627px;}
.Duration-139 > div {width: 5668px;}
.Duration-140 > div {width: 5709px;}
.Duration-141 > div {width: 5750px;}
.Duration-142 > div {width: 5791px;}
.Duration-143 > div {width: 5832px;}
.Duration-144 > div {width: 5873px;}
.Duration-145 > div {width: 5914px;}
.Duration-146 > div {width: 5955px;}
.Duration-147 > div {width: 5996px;}
.Duration-148 > div {width: 6037px;}
.Duration-149 > div {width: 6078px;}
.Duration-150 > div {width: 6119px;}
.Duration-151 > div {width: 6160px;}
.Duration-152 > div {width: 6201px;}
.Duration-153 > div {width: 6242px;}
.Duration-154 > div {width: 6283px;}
.Duration-155 > div {width: 6324px;}
.Duration-156 > div {width: 6365px;}
.Duration-157 > div {width: 6406px;}
.Duration-158 > div {width: 6447px;}
.Duration-159 > div {width: 6488px;}
.Duration-160 > div {width: 6529px;}
.Duration-161 > div {width: 6570px;}
.Duration-162 > div {width: 6611px;}
.Duration-163 > div {width: 6652px;}
.Duration-164 > div {width: 6693px;}
.Duration-165 > div {width: 6734px;}
.Duration-166 > div {width: 6775px;}
.Duration-167 > div {width: 6816px;}
.Duration-168 > div {width: 6857px;}
.Duration-169 > div {width: 6898px;}
.Duration-170 > div {width: 6939px;}
.Duration-171 > div {width: 6980px;}
.Duration-172 > div {width: 7021px;}
.Duration-173 > div {width: 7062px;}
.Duration-174 > div {width: 7103px;}
.Duration-175 > div {width: 7144px;}
.Duration-176 > div {width: 7185px;}
.Duration-177 > div {width: 7226px;}
.Duration-178 > div {width: 7267px;}
.Duration-179 > div {width: 7308px;}
.Duration-180 > div {width: 7349px;}
.Duration-181 > div {width: 7390px;}
.Duration-182 > div {width: 7431px;}
.Duration-183 > div {width: 7472px;}
.Duration-184 > div {width: 7513px;}
.Duration-185 > div {width: 7554px;}
.Duration-186 > div {width: 7595px;}
.Duration-187 > div {width: 7636px;}
.Duration-188 > div {width: 7677px;}
.Duration-189 > div {width: 7718px;}
.Duration-190 > div {width: 7759px;}
.Duration-191 > div {width: 7800px;}
.Duration-192 > div {width: 7841px;}
.Duration-193 > div {width: 7882px;}
.Duration-194 > div {width: 7923px;}
.Duration-195 > div {width: 7964px;}
.Duration-196 > div {width: 8005px;}
.Duration-197 > div {width: 8046px;}
.Duration-198 > div {width: 8087px;}
.Duration-199 > div {width: 8128px;}
.Duration-200 > div {width: 8169px;}

